<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<div class="controls">
  <button id="cardnew" class="button">add clone card</button>
  <button id="cardtitle" class="button">change clone title</button>
  <button id="cardbg" class="button">toggle clone bg color</button>
  <button id="carddel" class="button">delete newest clone</button>
</div>
<div id="cards" class="cards">
  <div id="card" class="card">
    <img src="https://media.istockphoto.com/id/1147544807/vector/thumbnail-image-vector-graphic.jpg?s=612x612&w=0&k=20&c=rnCKVbdxqkjlcs3xH87-9gocETqpspHFXu5dIGB4wuM=" id="image">
    <h2 id="title">Placeholder Card</h2>
    <p id="description">placeholder card description</p>
    <button id="details" class="button">details</button>
  </div>
</div>

<script>
  const btn_cardnew = document.getElementById('cardnew');
const btn_cardtitle = document.getElementById('cardtitle');
const btn_cardbg = document.getElementById('cardbg');
const btn_carddel = document.getElementById('carddel');
const btn_details = document.getElementById('details');

btn_cardnew.addEventListener("click", (e) => { 
  let clone = document.getElementById('card').cloneNode(true);
  clone.classList.add('dupecard');
  document.getElementById('cards').appendChild(clone);
  let btn_clonedetails = clone.children[3];
  btn_clonedetails.addEventListener("click", (e) => { 
    let desc = btn_clonedetails.previousElementSibling;
    (desc.style.display == 'none') ? (desc.style.display = '') : (desc.style.display = 'none');
  });
});
btn_cardtitle.addEventListener("click", (e) => { 
  if (document.querySelectorAll('.dupecard') != null) {
    index = prompt("Enter the index of the CLONE you wish to edit")
    title = prompt("Enter new title for the card");
    let clone = document.querySelectorAll('.dupecard')[index];
    clone.children[1].innerHTML = title;
  }
});
btn_cardbg.addEventListener("click", (e) => { 
  if (document.querySelectorAll('.dupecard') != null) {
    index = prompt("Enter the index of the CLONE you wish to edit")
    color = prompt("Enter a color such as red, or green or white to return to default");
    let clone = document.querySelectorAll('.dupecard')[index];
    clone.style.backgroundColor = color;
  }
});
btn_carddel.addEventListener("click", (e) => { 
  if (document.querySelectorAll('.dupecard') != null) {
    let dupecards = document.querySelectorAll('.dupecard'); document.getElementById('cards').removeChild(dupecards[dupecards.length - 1]);
  }
});
btn_details.addEventListener("click", (e) => { 
  let desc = btn_details.previousElementSibling;
  (desc.style.display == 'none') ? (desc.style.display = '') : (desc.style.display = 'none');
});
</script>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>
